<div class="rttm-app-container flex flex-col flex-auto w-full h-full">
  <mat-drawer-container class="flex flex-auto" autosize>
    <mat-drawer #sideNav mode="side" opened="true" class="flex flex-col">
      <div class="flex flex-col gap-10 h-full">
        <div class="flex flex-row mt-5 items-center justify-center">
          <span class="flex flex-row items-center justify-center cursor-pointer gap-3 py-3 px-5" (click)="showLabel = !showLabel">
            <mat-icon svgIcon="rttm"></mat-icon>
            @if (showLabel) {
            <div class="font-bold tracking-[.5rem]">RTTM</div>
            }
          </span>
        </div>
        <div class="flex flex-col grow gap-5">
          <div class="cursor-pointer flex items-center justify-start">
            <a matTooltip="Dashboard" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
              <mat-icon>home</mat-icon>
              @if (showLabel) {
              <div>Home</div>
              }
            </a>
          </div>
          <div class="cursor-pointer flex items-center justify-start">
            <a matTooltip="Task" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
              <mat-icon>checklist</mat-icon>
              @if (showLabel) {
              <div>Task</div>
              }
            </a>
          </div>
          <div class="cursor-pointer flex items-center justify-start">
            <a matTooltip="Manage" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
              <mat-icon>developer_board</mat-icon>
              @if (showLabel) {
              <div>Manage</div>
              }
            </a>
          </div>
          <div class="cursor-pointer flex items-center justify-start">
            <a matTooltip="Report" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
              <mat-icon>leaderboard</mat-icon>
              @if (showLabel) {
              <div>Report</div>
              }
            </a>
          </div>
        </div>
        <div class="flex flex-col mb-5 gap-5">
          <div class="flex flex-col gap-5">
            <div class="cursor-pointer flex items-center justify-start">
              <a matTooltip="Account" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
                <mat-icon>group</mat-icon>
                @if (showLabel) {
                <div>Account</div>
                }
              </a>
            </div>
            <div class="cursor-pointer flex items-center justify-start">
              <a matTooltip="Settings" class="flex flex-row items-center justify-center gap-3 py-3 px-5">
                <mat-icon>settings</mat-icon>
                @if (showLabel) {
                <div>Settings</div>
                }
              </a>
            </div>
          </div>
          <div class="cursor-pointer flex items-center justify-start" (click)="showLabel = !showLabel">
            <span class="flex flex-row items-center justify-center gap-3 py-3 px-5">
              @if (showLabel) {
              <mat-icon>zoom_in_map</mat-icon>
              }
              @else {
              <mat-icon>zoom_out_map</mat-icon>
              }
              @if (showLabel) {
              <div>Collapse</div>
              }
            </span>
          </div>
        </div>
      </div>
    </mat-drawer>
    <div class="flex flex-col flex-auto">
      <div>
        <mat-toolbar class="w-full flex-col bg-orange-400">
          <div class="flex flex-auto items-center justify-between">
            <div class="font-semibold">Task Management</div>
            <div>
              <button mat-icon-button (click)="isDarkMode = !isDarkMode;switchTheme()">
                <mat-icon>contrast</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar>
      </div>
      <div class="flex">
        <router-outlet />
      </div>
    </div>
  </mat-drawer-container>
</div>
